@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes image-show {
  from{
    transform: translateX(10rem);
    opacity: 0.2;
    /* transform: scale(0); */
  }
  to{
    transform: translateX(0rem);
    opacity: 1;
    /* transform: scale(1); */
  }
}

.image-animation{
  animation: image-show 0.5s ease-in-out;
}

.toggle{
  display: none !important;
}


.sidenavbar{
  animation: sidenavbar 0.5s linear 0s 1;
}


@keyframes sidenavbar {
  from{
    transform: translateY(100%);
    opacity: 0.2;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}

.slider{
  animation: slider 0.5s linear 0s 1;
}


@keyframes slider {
  from{
    transform: translateX(100%);
    opacity: 0.2;
  }
  to{
    transform: translateX(0%);
    opacity: 1;
  }
}